caption{
    color: red;
    font-size: 28px;
}
caption::after {
    content: "#05 ";
    user-select: none;
    color: blueviolet;
}  
table{
    border: 5px solid red;
    margin: 30px auto;
    width: 500px;
    text-align: center;
}
th, td, tr{
    border: 2px solid rgb(0, 17, 255);
}
tbody td:first-child{
    background-color: aqua;
}
tfoot{
    background-color: darksalmon;
}
th{
    background-color: rgba(247, 216, 148, 0.76);
    font-weight: bold;
}
tbody>tr:nth-child(odd){
    background-color: rgba(218, 176, 38, 0.747);
}